<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>How?</span>
  </ion-nav-title>
  <ion-content>
      
      <div> 
      <a class="item item-icon-left item-icon-right" ui-sref="app.tinder-cards">
        <i class="icon ion-happy-outline"></i>
        <div>
          <span class="title">Learn</span>
          <p class="description"></p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
      </div>
  </ion-content>
</ion-view>


